body {
    margin: 0;
    padding: 0;
    /* background: #2d3b6a; */
     background: linear-gradient(#314071, #212B54); 
  }
  
.center-content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .name{
    font-family: 'Titillium Web';
    color: white;
    font-weight: bold;
  }
  
  .progress{
    font-family: 'Titillium Web';
    font-weight: Extra-Light;
    color:lightgray;
    padding-bottom: 0;
  }
  
  .border{
    border-radius: 20%;
  }
  
  .avatar-size{
    border-radius: 50%;
    width: 10%;
    height: 10%;
  
  } 